<p id="notice"><%= notice %></p>

<h1>Listing Logins</h1>

<table class="table table-striped table-condensed table-hover "> 
  <thead>
    <tr>
      <th>Estado</th>
      <th>Sesion</th>
      <th>Clase usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logins.each do |login| %>
      <tr>
        <td><%= login.estado %></td>
        <td><%= login.sesion %></td>
        <td><%= login.clase_usuario %></td>
        <td><%= link_to 'Mostrar', login %></td>
        <td><%= link_to 'Editar', edit_login_path(login) %></td>
        <td><%= link_to 'Eliminar', login, method: :delete, data: { confirm: 'Está seguro de eliminar el registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Login', new_login_path, class:'btn' %>
