<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @login.estado %>
</p>

<p>
  <strong>Sesion:</strong>
  <%= @login.sesion %>
</p>

<p>
  <strong>Clase usuario:</strong>
  <%= @login.clase_usuario %>
</p>


<%= link_to 'Editar', edit_login_path(@login) %> |
<%= link_to 'Atrás', logins_path %>
